:root {
	--berkeley-blue: #003262;
	--founders-rock: #3B7EA1;
	--california-gold: #FDB515;
	--medalist: #C4820E;
	--lawrence: #00B0DA;
	--sather-gate: #B9D3B6;
	--grey: #EEEEEE;

	--background: var(--grey);
	--text-primary: #000000;
	--text-secondary: #888888;
}
