:root {
	--blue-1: #4889C1;
	--blue-2: #85CEED;
	--blue-3: #ABC3DB;
	--blue-half: #64AfD5;

	--text-light: #FFFFFF;
	--text-dark: #000000;
	--text-light-alt: #E0E0F0;
	--text-dark-alt: #606060;
}

div#nav {
	width: 100%;
	float: left;
	margin: 1%;
	display: block;
}

div#nav-first {
	width: 100%;
	float: left;
}

div#nav-second {
	width: 100%;
	float: left;
	z-index: 10;
}

ul.nav {
	list-style: none;
	margin: 0%;
	padding: 0%;
	margin-left: 2%;
	margin-right: 2%;
}

li.nav-item {
	float: left;
	margin: 0%;
	padding: 2%;
	text-decoration: none;
	font-size: 1.7vw;
	font-weight: light;
	color: var(--text-light);
}

@media (max-width: 1000px){
	li.nav-item {
		font-size: 2.4vw;
	}
}

li.nav-item:hover {
	color: var(--text-light-alt);
}

li.nav-selected {
	color: var(--text-light-alt);
}

a.nav-link {
	text-decoration: none;
}

a.nav-link:hover {
	text-decoration: underline;
}

.nav-dropdown-second {
	text-decoration: none;
}

.nav-dropdown-second:hover {
	text-decoration: underline;
}

li.nav-dropdown >p {
	display: none;
}

li.nav-dropdown >ul {
	list-style: none;
	display: none;
}

li.nav-dropdown-item >ul {
	list-style: none;
	display: none;
}

#nav-second {
	background-color: white;
	padding: 1%;
	display: none;
	border-radius: 0.5em;
	position: absolute;
	border: solid;
	border-color: var(--blue-1);
	border-width: 0.1em;
}

div.nav-second-p {
	display: block;
	float: left;
	width: 30%;
	padding-right: 2%;
}

div.nav-second-p p {
	text-align: left;
}

div.nav-second-ul {
	display: block;
	float: left;
	width: 35%;
	border-left: 3px solid var(--blue-3);
}

@media (max-width: 1000px) {
	div.nav-second-ul {
		width: 50%;
		border-left: none;
	}
}

div.nav-second-ul >ul {
	list-style: none;
	list-style-position: outside;
}

div#nav-third {
	display: block;
	float: left;
	width: 35%;
}

@media (max-width: 1000px) {
	div#nav-third {
		width: 50%;
	}
}

div#nav-third >ul {
	list-style: none;
	list-style-position: outside;
}

p.right-arrow {
	margin: 0%;
	padding: 0%;
	float: right;
	width: 0;
	height: 0;
	border-top: 0.5em solid transparent;
	border-bottom: 0.5em solid transparent;
	border-left: 1em solid var(--blue-3);
}

p.nav-arrow {
	margin: 0%;
	padding: 0%;
	float: right;
	width: 0;
	height: 0;
	z-index: 11;
	border-right: 1.3vw solid transparent;
	border-bottom: 1.3vw solid white;
	border-left: 1.3vw solid transparent;
}
