@import "color.css";

div#nav {
	width: 100%;
	float: left;
	margin: 1%;
}

div#nav-first {
	width: 100%;
	float: left;
}

div#nav-second {
	width: 100%;
	float: left;
}

ul.nav {
	list-style: none;
	position: relative;
}

li.nav-item {
	float: left;
	margin: 0%;
	padding: 1%;
	text-decoration: none;
	color: white;
}

li.nav-item:hover {
	color: var(--california-gold);
}

li.nav-selected {
	color: var(--california-gold);
}

a.nav-link {
	text-decoration: none;
}

a.nav-link:hover {
	text-decoration: underline;
}

.nav-dropdown-second {
	text-decoration: none;
}

.nav-dropdown-second:hover {
	text-decoration: underline;
}

li.nav-dropdown >p {
	display: none;
}

li.nav-dropdown >ul {
	list-style: none;
	display: none;
}

li.nav-dropdown-item >ul {
	list-style: none;
	display: none;
}

#nav-second {
	background-color: white;
	width: 100%;
	padding: 1%;
	display: none;
}

div.nav-second-p {
	display: block;
	float: left;
	width: 30%;
}

div.nav-second-p p {
	text-align: center;
}

div.nav-second-ul {
	display: block;
	float: left;
	width: 35%;
}

@media (max-width: 100px) {
	div.nav-second-ul {
		width: 50%;
	}
}

div.nav-second-ul >ul {
	list-style: none;
	list-style-position: outside;
}

div#nav-third {
	display: block;
	float: left;
	width: 35%;
}

@media (max-width: 100px) {
	div#nav-third {
		width: 50%;
	}
}

div#nav-third >ul {
	list-style: none;
	list-style-position: outside;
}

i.right-arrow {
	float: right;
	width: 25%;
}
