@import "color.css";

body {
	padding: 0;
	margin: 0;
	font-family: raleway, sans-serif;
}

#header {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	background-image: linear-gradient(to bottom right, var(--blue-1), var(--blue-2));
	display: flex;
	align-items: center;
}

a.header {
	width: 22%;
}

img.header {
	width: 100%;
	padding: 0.2%;
}

.content {
	width: 95%;
	max-width: 1000px;
	align-text: center;
	padding: 1%;
	margin: auto;
}

.content-header {
	width: 100%;
	float: left;
	align-text: center;
	font-weight: 300;
}

.content-main-header {
	width: 100%;
	float: left;
	margin-top: 1%;
	margin-bottom: 0px;
	font-weight: 300;
}

.content-sub-header {
	width: 100%;
	float: left;
	margin-top: 0px;
	font-weight: 300;
}

.footer {
	padding: 1%;
	background-image: linear-gradient(to top right, #4889C1, #85CEED);
}

div.footer {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	float: left;
}

div.footer-text {
	padding: 0.5em;
	margin: 0.5em;
	width: 60%;
	float: left;
}

p.footer-text {
	padding: 0%;
	margin: 0%;
	color: var(--text-light);
	float: left;
	width: 100%;
}

div.footer-text a {
	color: var(--text-light);
}

div.footer-text a:hover {
	text-decoration: none;
	color: var(--text-light-alt);
}

a {
	color: var(--text-dark);
}

a:hover {
	text-decoration: none;
	color: var(--text-dark-alt);
}

.ocf_banner {
	padding: 0.5em;
	margin: 0.5em;
	width: 10%;
	float: left;
}
