:root {
	--blue-1: #4889C1;
	--blue-2: #85CEED;
	--blue-3: #ABC3DB;
	--blue-half: #64AfD5;

	--text-light: #FFFFFF;
	--text-dark: #000000;
	--text-light-alt: #E0E0F0;
	--text-dark-alt: #606060;
}

@font-face {
	font-family: "Open Sans";
	src: URL('/static/fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: URL('/static/fonts/OpenSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Open Sans";
	src: URL('/static/fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: bold;
}

@font-face {
	font-family: "Open Sans";
	src: URL('/static/fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: light;
	font-style: normal;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans",sans-serif;
}

#header {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	background-image: linear-gradient(to bottom right, var(--blue-1), var(--blue-2));
	display: flex;
	align-items: center;
}

a.header {
	width: 22%;
}

img.header {
	width: 100%;
	padding: 0.2%;
}

.content {
	width: 95%;
	max-width: 1000px;
	text-align: center;
	padding: 0.5%;
	margin: 0.5%;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

.content ul {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	text-align: left;
}

ul.narrow {
	width: 60%;
	max-width: 600px;
	text-align: left;
}

.content ol {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	text-align: left;
}

div.content-section {
	width: 100%;
	float: left;
	clear: both;
}

.content-large {
	width: 95%;
	max-width: 1000px;
	text-align: center;
	padding: 1%;
	margin: auto;
}

.content-header {
	width: 100%;
	margin: 0.5%;
	padding: 0.5%;
	float: left;
	text-align: center;
	font-weight: light;
}

h1.content-header {
	text-align: center;
	font-size: 2.2vw;
}

h2.content-header {
	text-align: center;
	font-size: 1.8vw;
}

h3.content-header {
	text-align: center;
	font-size: 1.2vw;
}

.content-main-header {
	width: 100%;
	float: left;
	margin-top: 1%;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-weight: light;
}

.content-sub-header {
	width: 100%;
	float: left;
	margin-top: 0px;
	padding-top: 0px;
	text-align: center;
	font-weight: light;
}

div.gallery {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	gap: 12%;
}

div.gallery-item,
div.gallery-item-small {
	width: 40%;
	padding: 1%;
	margin: 1%;
	background-color: var(--blue-2);
	border-radius: 0.5em;
	color: var(--text-light);
}

div.gallery-item img {
	width: 96%;
	padding: 1%;
	margin: 1%;
}

div.gallery-item h2 {
	width: 90%;
	padding: 1%;
	margin: 1%;
	text-align: center;
}

div.gallery-item-small img {
	width: 75%;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

.footer {
	padding: 1%;
	background-image: linear-gradient(to top right, #4889C1, #85CEED);
}

div.footer {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	float: left;
}

div.footer-text {
	padding: 0.5em;
	margin: 0.5em;
	width: 60%;
	float: left;
}

p {
	padding: 0%;
	margin: 0%;
	float: left;
	width: 100%;
}

a {
	color: var(--text-dark);
}

a:hover {
	text-decoration: none;
	color: var(--text-dark-alt);
}

.light {
	color: var(--text-light);
}

.light a {
	color: var(--text-light);
}

a.light:hover {
	text-decoration: none;
	color: var(--text-light-alt);
}

.ocf_banner {
	padding: 0.5em;
	margin: 0.5em;
	width: 10%;
	float: left;
}
