@import "color.css";

body {
	padding: 0;
	margin: 0;
}

.header {
	padding: 1%;
	float: left;
}

#header {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	background-image: linear-gradient(to top left, var(--berkeley-blue), var(--lawrence));
}

h1.header {
	color: var(--text-primary);
	width: 30%;
}

img.header {
	width: 25%;
}

.content {
	width: 95%;
	max-width: 1000px;
	padding: 1%;
	margin: auto;
}

.content-header {
	width: 100%;
	float: left;
}

.content-main-header {
	width: 100%;
	float: left;
	margin-bottom: 0px;
}

.content-sub-header {
	width: 100%;
	float: left;
	margin-top: 0px;
}

.footer {
	padding: 1%;
	background-color: var(--background);
}

div.footer {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	float: left;
}

div.footer-text {
	padding: 0.5em;
	margin: 0.5em;
	width: 60%;
	float: left;
}

p.footer-text {
	padding: 0%;
	margin: 0%;
	color: var(--text-primary);
	float: left;
	width: 100%;
}

a {
	color: var(--text-primary);
}

.ocf_banner {
	padding: 0.5em;
	margin: 0.5em;
	width: 10%;
	float: left;
}
