@import "color.css";

div.headers {
	width: 100%;
	display: flex;
}

div.menu {
	width: 100%;
	float: left;
	padding: 1%;
	margin: 1%;
}

div.menu-image img {
	width: 98%;
	padding: 1%;
}

div.intro {
	width: 100%;
	float: left;
	padding: 1%;
	margin: 1%;
}

@media(max-width: 1000px){
	div.snack_shack {
		width: 100%;
	}
