<meta name="sps:title" content="About Us" />

<h1 class="content-header">About Us</h1>

<p class="content-large">
	SPS is the official voice of the physics student body, and a link between the physics department and the undergraduate community. It's also really fun! 
</p>

<h1 class="content-header">Who we are</h1>

<p class="content-large">
	In all seriousness, the Society of Physics Students is a student run organization that serves to provide a community for physics majors and physics enthusiasts (i.e. being a physics major is not required!) and connects the undergraduate population of the physics department to the department as a whole! As a result, we hold events such as faculty-student lunches, undergraduate seminars, department-wide barbeques, and even provide a platform for student-led projects. Moreover, SPS is also involved outreach so as to spread the gospel of physics and science as a whole to the next generation!
</p>
<p class="content-large">
	Now for those of you who are more legally minded, you can take a look at our constitution 
</p>

<h2 class="content-subheader">Our email: ucbsps@gmail.com</h2>

<h2 class="content-subheader">Chapter Reports</h2>

<ul class="content">
	<li>2015-2016</li>
	<li>2016-2017</li>
	<li>2017-2018</li>
</ul>
