<html lang="en" dir="ltr">

<meta name="sps:title" content="International Physics Tournament" />

<head>
  <title>International Physics Tournament</title>
</head>

<style>

  .leftTeam{
    margin-left: -25px;
  }

  .rightTeam{
    color: rgb(88,88,88);
    font-weight: normal;
  }

  .rightTeamName{
    color: rgb(88,88,88);
    margin-top:-15px;
    margin-left:25px;
  }

</style>

<body>
  <h1 class="content-header">International Physics Tournament</h1>

    <p>
      The <b>International Physicists’ Tournament</b> (IPT) is a physics
      competition for undergraduate and first- or second-year graduate students from
      institutions around the world. Participating teams will solve a set
      of <b> challenging, stimulating physics problems, theoretically</b> as well
      as <b>experimentally</b>, and prepare to present and defend their findings to
      opponents and judges. The problems this year include <i> Rail Track Divination</i>
      (how to use railroad tracks to find the distance/speed of a train),
      <i>Solar Cell Characterizer</i> (investigate the properties of a light source
      with solar cells), and <i>Circle Magnet</i> (bending a stack of magnets into
      a circle without breaking). This year, in April, our team will be
      <b>representing the US</b> to participate in the Tournament in <b>Lausanne,
      Switzerland</b>. Wish us luck!
    </p>

    <p>
      The United States IPT page can be found <a href="https://usa.iptnet.info/">
      here</a>, and the main IPT page can be found <a href = "https://iptnet.info/">
      here</a>.
    </p>

    <h2 class = "content-subheader">The Teams</h2>

    <table>
      <tr>
        <td>
          <h4><u>Dr. Hamiltonian and the Quantets</u></h4>
          <ul>
            <li class = "leftTeam">Anthony “Dr. Hamiltonian” Khodanian</li>
            <li class = "leftTeam">Shantanu Kadam</li>
            <li class = "leftTeam">Che Liu</li>
            <li class = "leftTeam">Miguel Ceja</li>
            <li class = "leftTeam">Paul Lictmachter</li>
            <li class = "leftTeam">Guillaume Shippee</li>
          </ul>
        </td>

        <td>
          <h4 class = "rightTeamName">Gaussian Seashell</h4>
          <ul>
            <li class = "rightTeam">Ivan Chernyshev</li>
            <li class = "rightTeam">Xuyang Yu</li>
            <li class = "rightTeam">Christopher Leong</li>
            <li class = "rightTeam">Zeraki-Tobias “Brockton” Stover</li>
            <li class = "rightTeam">Xuanchen “Ryan” Jia</li>
          </ul>

        </td>
      </tr>
    </table>

    <img src = "../static/images/outreach/IPT_1.jpg" width = "484"
    height = "362"/>

    <img style = "margin-left: 20px;" src = "../static/images/outreach/IPT_2.jpg"
    width = "484" height = "362"/>

  </body>
</html>
