<html>
	<head>
		<title>Current POTW</title>

		<script>
		 liked = false;
		 $(function(){
			 $("#like-button").on("click", function(){
				 if(!liked){
				 $.post("/api/potw_like",
						{csrfmiddlewaretoken: "{{ csrf_token }}", vote: "like"},
						function() {
							alert("Your feedback is appreciated!");
							$("#like-count")[0].value = {{ likes }} + 1;
						});
					 liked = true;
				 }
			 });
		 });
		</script>
	</head>
	<body>
		<h1 class="content-main-header">Current Problem of the Week</h1>
		<h2 class="content-sub-header">
			{% if name %}{{ name }}: {% endif %}
			For {{ start_date }} to {{ end_date }}
		</h2>

		<p class="content-large">
			{% autoescape off %}
			{{ problem_description }}
			{% endautoescape %}
		</p>
		{% if linked_problem %}
		{% autoescape off %}
		{{ linked_problem }}
		{% endautoescape %}
		{% endif %}

		<div class="content">
			I enjoyed this problem: <button id="like-button" style="padding: 0%; margin: 0%"><img src="/static/images/thumbs_up.svg" alt="like" style="width: 1vw" /></button> <input id="like-count" type="text" value="{{ likes }}" size="2" />
		</div>

		<h1 class="content-header">What is Problem of the Week?</h1>

		<p class="content-large">
			<b>Problem of the weeks</b> are problems that will be shown on the SPS website from Saturday morning to Friday night. It is meant to be done at your leisure time and done out of curiosity and not out of obligation. The winner will have a chance for their image and bio to be shown on this website.
		</p>
		<p class="content-large">
			If you think you solved the problem, please email ucbsps “at” gmail “dot” com with the subject line “Problem of The Week. Show some work!
		</p>
		<p class="content-large">
			You can also contact us if you have problem suggestions. Fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSfcLklKmNySO3-I7ikC2qA0DKNU_QYSz3PSkyf7jkOZV8nfEw/viewform">this form</a> with the problem, steps, and the solution. It must be original, unique, and not easily searchable on the internet.
		</p>

		<h1 class="content-header">Past Problem of the Weeks</h1>

		{% if past_problems %}
		<ul class="content">
			{% for start_date, end_date, name in past_problems %}
			<li>
				{% if name %}{{ name }}: {% endif %}
				<a href="/potw/{{ start_date }}">{{ start_date }} to {{ end_date }}</a>
			</li>
			{% endfor %}
		</ul>
		{% endif %}

		<p class="content"><a href="/potw">Current Problem of the Week</a></p>

		{% if scores %}
		<h1 class="content-header">Problem of the Week Scoreboard</h1>

		<table class="content center">
			<tr><td><b>Name</b></td><td><b>Problems Solved</b></td></tr>
			{% for name, solved in scores %}
			<tr><td>{{ name }}</td><td>{{ solved }}</td></tr>
			{% endfor %}
		</table>
		{% endif %}
	</body>
</html>
