<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ title }}</title>
        {% load static %}
		<link rel="stylesheet" href="{% static "/css/root.css" %}" />
		<link rel="stylesheet" href="{% static "/css/nav.css" %}" />

		<script src="{% static "/jquery-3.5.1.slim.min.js" %}"></script>

		<script>
		 $(function(){
			 $("li.nav-dropdown").hover(function(){
				 $("#nav-second").empty();

				 if($(this).hasClass("nav-selected")){
					 $("#nav-second").css("display", "none");
					 $(this).removeClass("nav-selected");
				 }
				 else{
					 $("#nav-second").css("display", "flex");

					 $("li.nav-dropdown").removeClass("nav-selected");
					 $(this).addClass("nav-selected");

					 if(window.innerWidth > 1000){
						 var p_div = $("<div class=\"nav-second-p\"></div>");
						 p_div.append($(this).children("p").clone());
						 $("#nav-second").append(p_div);
					 }

					 var ul_div = $("<div class=\"nav-second-ul\"></div>");
					 ul_div.append($(this).children("ul").clone());
					 $("#nav-second").append(ul_div);
					 $("#nav-second").append($("<div id=\"nav-third\"></div>"));

					 $("li.nav-dropdown-item").hover(function(){
						 $("#nav-third").empty();
						 $("#nav-third").append($(this).children("ul").clone());

						 $("#nav-third").hover(function(){}, function(){
							 $("#nav-third").empty();
						 });
					 }, function(){});
				 }
			 }, function(){});

			 $("#nav-second").hover(function(){
			 }, function(){
				 $("#nav-second").empty();
				 $("#nav-second").css("display", "none");
				 $("li.nav-dropdown").removeClass("nav-selected");
			 });
		 });
		</script>

		{% autoescape off %}
		{{ header }}
		{% endautoescape %}
    </head>
    <body>
		<div id="header" class="header">
			<div id="nav">
				<div id="nav-first">
					<ul class="nav">
						<a id="home-link" href="/" class="nav-link">
							<li class="nav-item">Home</li>
						</a>
						<li class="nav-item nav-dropdown">
							About Us

							<p>
								SPS is the official voice of the physics student body, and a link between the physics department and the undergraduate community.
							</p>
							<ul>
								<a href="/about_us" class="nav-link">
									<li class="nav-dropdown-item">About Us</li>
								</a>
								<a href="/faq" class="nav-link">
									<li class="nav-dropdown-item">FAQ</li>
								</a>
								<a href="/officers" class="nav-link">
									<li class="nav-dropdown-item">Officers</li>
								</a>
								<a href="/partners" class="nav-link">
									<li class="nav-dropdown-item">Partner Organizations</li>
								</a>
							</ul>
						</li>
						<li class="nav-item nav-dropdown">
							Events

							<p>
								SPS hosts (and has hosted) a variety of exciting events.
							</p>
							<ul>
								<a href="/events" class="nav-link">
									<li class="nav-dropdown-item">Upcoming</li>
								</a>
								<a href="/events/archive" class="nav-link">
									<li class="nav-dropdown-item">Archive</li>
								</a>
								<a href="/events/outreach" class="nav-link">
									<li class="nav-dropdown-item">Outreach</li>
								</a>
								<li class="nav-dropdown-item nav-dropdown-second">
									Competitions
									<i class="right-arrow">></i>

									<ul>
										<a href="/events/bpt" class="nav-link">
											<li class="nav-dropdown-item">Berkeley Physics Tournament</li>
										</a>
										<a href="/events/ipt" class="nav-link">
											<li class="nav-dropdown-item">
												International Physics Tournament
											</li>
										</a>
										<a href="/events/int_bee" class="nav-link">
											<li class="nav-dropdown-item">Integration Bee</li>
										</a>
									</ul>
								</li>
								<a href="/events/fsl" class="nav-link">
									<li class="nav-dropdown-item">Faculty-Student Lunches</li>
								</a>
								<a href="/events/ugs" class="nav-link">
									<li class="nav-dropdown-item">Undergraduate Seminars</li>
								</a>
								<a href="/events/bbq" class="nav-link">
									<li class="nav-dropdown-item">Barbecues</li>
								</a>
							</ul>
						</li>
						<li class="nav-item nav-dropdown">
							Committees

							<p>
								Committees provide an organized structure for members of SPS to help run the club!
							</p>
							<ul>
								<a href="/committee/projects" class="nav-link">
									<li class="nav-dropdown-item">Projects</li>
								</a>
								<a href="/committee/outreach" class="nav-link">
									<li class="nav-dropdown-item">Outreach</li>
								</a>
								<a href="/committee/website" class="nav-link">
									<li class="nav-dropdown-item">Web Development</li>
								</a>
							</ul>
						</li>
						<li class="nav-item nav-dropdown">
							Resources

							<p>
								SPS provides a variety of resources to help undergraduates pursue physics with prosperity!
							</p>
							<ul>
								<a href="/mentorship" class="nav-link">
									<li class="nav-dropdown-item">Mentorship</li>
								</a>
								<a href="/study_halls" class="nav-link">
									<li class="nav-dropdown-item">Study Halls</li>
								</a>
								<a href="/tutoring" class="nav-link">
									<li class="nav-dropdown-item">Tutoring</li>
								</a>
								<a href="/svsh" class="nav-link">
									<li class="nav-dropdown-item">For Victims of Sexual Violence</li>
								</a>
								<a href="/potw" class="nav-link">
									<li class="nav-dropdown-item">Problem of the Week</li>
								</a>
								<a href="/snack_shack" class="nav-link">
									<li class="nav-dropdown-item">Snack Shack</li>
								</a>
							</ul>
						</li>
						<li class="nav-item nav-dropdown">
							Wiki

							<p>
								SPS hosts the Undergraduate Wiki, a resource by undergraduates, for undergraduates.
							</p>
							<ul>
								<a href="/wiki/index.php" class="nav-link">
									<li class="nav-dropdown-item">Wiki Home</li>
								</a>
								<a href="/wiki/index.php?title=Physics_Curriculum" class="nav-link">
									<li class="nav-dropdown-item">Courses</li>
								</a>
								<a href="/wiki/index.php?title=Undergraduate_Research" class="nav-link">
									<li class="nav-dropdown-item">Research</li>
								</a>
								<a href="/wiki/index.php?title=Graduate_School" class="nav-link">
									<li class="nav-dropdown-item">Graduate School</li>
								</a>
								<a href="/wiki/index.php?title=Employment_Opportunities" class="nav-link">
									<li class="nav-dropdown-item">Employment</li>
								</a>
							</ul>
						</li>
					</ul>
				</div>
				<div id="nav-second">
				</div>
			</div>
		</div>

        <div id="content" class="content">
			{% autoescape off %}
			{{ content }}
			{% endautoescape %}
        </div>

		<div id="footer" class="footer">
			<div class="footer-text">
				<p class="footer-text">
					Email us at ucbsps "at" gmail.com.
					Join our <a href="https://mailchi.mp/ca30b4050b69/mailing_list">mailing list</a>,
					and follow us on <a href="https://www.facebook.com/groups/474568829304662/">Facebook</a>
					and <a href="">Instagram</a>.
				</p><p class="footer-text">
					© Society of Physics Students at Berkeley.
					All rights reserved.
				</p><p class="footer-text">
					We are a student group acting independently of the University of California. We take full responsibility for our organization and this web site.
				</p>
			</div>
			<div class="ocf_banner">
				<a href="https://www.ocf.berkeley.edu">
					<img src="https://www.ocf.berkeley.edu/hosting-logos/ocf-hosted-penguin.svg"
						 alt="Hosted by the OCF" />
				</a>
			</div>
		</div>
		<script>
		 if(window.innerWidth > 1000){
			 img_str = '<img id="header-img" class="header" src="{% static "/images/spslogo.svg" %}" />';
			 $("#header").prepend($('<a href="/">' + img_str + '</a>'))
			 $("#nav").css("width", "60%");
			 $("#home-link")[0].hidden = true;
		 }
		</script>
    </body>
</html>
